#PORT=the port you want to run the server on
#MONGO_URI=the url at which your mongo database is running
#ACCESS_TOKEN_SECRET=the secret you want to use for your access token
#EMAIL=the email you want to use to send emails(use Ethereal Email For Testing)
#PASSWORD=the password for the email you want to use to send emails(use Ethereal Email For Testing)